
.page{
	display: flex;
	justify-content: center;
    min-height: 100vh;
}



/*left navigation panel*/
.header{
	display: flex;
	flex-direction: column;
	width: 10%;
	background-color: yellowgreen ;
}

.litle-nav-icon{
    text-align: left;
    font-style: revert;
    margin-left: 10px;
}



.header-container{
    margin-bottom: 20px;
}

.header>nav>ol{
    list-style: none;
}


.header-img{
    width: 100%;
}

.header-img>img{
    width: 80%;
    margin: 20px;
}





/*///////////////////////////*/


/*main section*/

.section{

	width: 90%;
}

.content{
    margin-left: 5px;
}

body{
    margin: 0px;
    padding: 0px
}

header{
    background-color: lemonchiffon;
}


/*/////////////////////////////*/


/*right side (deadline, link...)*/
details{
	float: right;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;

    margin-left: 10px;
}

details>div{
    display: flex;
    flex-direction: column;
    /*justify-content: center; для горизонталья*/

    align-items: center;
}



/*//////////////////////////*/


/*top navigation*/
.nav-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: yellowgreen;
}

.nav-container>nav>ul{
    display:flex;
    list-style: none;
    align-items:center;
    margin: 0px;
    padding: 0px;
}

.nav-conteiner>nav>ul>li{
    display: block;
    padding: 50px;
    border-style: solid;
    border-color: orange;
    border-width: 0.5px;
    justify-content: space-between;
}

@media (max-width: 800px){
    .top-nav-conteiner{
        flex-direction: column;
    }
}
/*/////////////////////*/



/*Table уроков*/

.schedule{
    display: flex;
    flex-direction: column;
}

.schedule>h2{
    display: block;
}

 table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
}

th, td {
            border: 1px solid #000;
            padding: 10px;
            text-align: center;
}

th {
            background-color: #f2f2f2;
}

.day-column {
            width: 16%;
            background-color: rgb(81, 81, 255 );
}

.lesson-number {
            width: 5%;
            background-color: rgb(81, 81, 255 );
}



/* gallery  any saved doc,media,massages etc */


.container {
            display: flex;
            justify-content: space-between;
        }

        .save-container {
            background-color: rgb(40, 166, 196 );
            padding: 20px;

            width: 250px;
            text-align: center;
        }

        .save-container:hover {
            transform: scale(1.02);
        }

        .save-container a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: bold;
        }